NAME: mynewapp
LAST DEPLOYED: Tue Jan 13 15:44:01 2026
NAMESPACE: default
STATUS: pending-install
REVISION: 1
HOOKS:
---
# Source: app/charts/backend/templates/tests/test-connection.yaml
apiVersion: v1
kind: Pod
metadata:
  name: "mynewapp-backend-test-connection"
  labels:
    helm.sh/chart: backend-0.1.0
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
  annotations:
    "helm.sh/hook": test
spec:
  containers:
    - name: wget
      image: busybox
      command: ['wget']
      args: ['mynewapp-backend-service:80']
  restartPolicy: Never
---
# Source: app/charts/postgres/templates/tests/test-connection.yaml
apiVersion: v1
kind: Pod
metadata:
  name: "mynewapp-postgres-test-connection"
  labels:
    helm.sh/chart: postgres-0.1.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
  annotations:
    "helm.sh/hook": test
spec:
  containers:
    - name: wget
      image: busybox
      command: ['wget']
      args: ['mynewapp-postgres-svc:5432']
  restartPolicy: Never
---
# Source: app/charts/backend/templates/migrations-job.yaml
apiVersion: batch/v1
kind: Job
metadata:
  name: backend-migrations
  labels: 
    helm.sh/chart: backend-0.1.0
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  backoffLimit: 3
  template:
    metadata:
      labels: 
        helm.sh/chart: backend-0.1.0
        app.kubernetes.io/name: backend
        app.kubernetes.io/instance: mynewapp
        app.kubernetes.io/version: "1.16.0"
        app.kubernetes.io/managed-by: Helm
    spec:
      restartPolicy: OnFailure
      containers:
        - name: migrate
          
          image: fastrapier1/k8s-test-backend-migrations:latest
          env:
            - name: APP_POSTGRES_HOST
              valueFrom:
                configMapKeyRef:
                  name: postgres-configmap
                  key: host
            - name: APP_POSTGRES_PORT
              valueFrom:
                configMapKeyRef:
                  name: postgres-configmap
                  key: port
            - name: APP_POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-secrets
                  key: database
            - name: APP_POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secrets
                  key: username
            - name: APP_POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secrets
                  key: password
MANIFEST:
---
# Source: app/charts/backend/templates/secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque
stringData:
  
  password: "password"
  
  username: "developer"
---
# Source: app/charts/postgres/templates/secrets.yaml
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secrets
  labels: 
    helm.sh/chart: postgres-0.1.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
data:
  database: ZGI=
  password: cXdlcnR5MTIzNDU=
  username: bGFtYXJy
---
# Source: app/charts/backend/templates/config-map.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: backend-configmap
data:
    APP_CONFIG_MAP_ENV_VAR: "test-value-from-helm-values"
---
# Source: app/charts/postgres/templates/config-map.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-configmap
  labels:
    helm.sh/chart: postgres-0.1.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
data:
  host: postgres-headless-svc.default.svc.cluster.local
  port: "5432"
---
# Source: app/charts/backend/templates/pvc.yaml
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-pvc
  labels: 
    helm.sh/chart: backend-0.1.0
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: 1Gi
---
# Source: app/charts/backend/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector: 
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: mynewapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
---
# Source: app/charts/postgres/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: postgres-headless-svc
  labels: 
    helm.sh/chart: postgres-0.1.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  clusterIP: None
  selector: 
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
  
  ports:
    - name: postgresql
      port: 5432
      targetPort: postgresql
      protocol: TCP
---
# Source: app/charts/postgres/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
  labels: 
    helm.sh/chart: postgres-0.1.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  type: ClusterIP
  selector: 
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
  
  ports:
    - name: postgresql
      port: 5432
      targetPort: postgresql
      protocol: TCP
---
# Source: app/charts/postgres/templates/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: postgres-nodeport-svc
  labels: 
    helm.sh/chart: postgres-0.1.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  type: NodePort
  selector: 
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
  
  ports:
    - name: postgresql
      port: 5432
      targetPort: postgresql
      protocol: TCP
      nodePort: 30432
---
# Source: app/charts/backend/templates/deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    
    helm.sh/chart: backend-0.1.0
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  replicas: 2
  selector:
    matchLabels:
      
      app.kubernetes.io/name: backend
      app.kubernetes.io/instance: mynewapp
  template:
    metadata:
      name: backend-pod
      labels:
        
        helm.sh/chart: backend-0.1.0
        app.kubernetes.io/name: backend
        app.kubernetes.io/instance: mynewapp
        app.kubernetes.io/version: "1.16.0"
        app.kubernetes.io/managed-by: Helm
    spec:
      containers:
        - name: backend-container
          
          image: fastrapier1/k8s-test-backend-app:latest
          imagePullPolicy: IfNotPresent
          
          env:
            
            - name: APP_CONFIG_MAP_ENV_VAR
              valueFrom:
                configMapKeyRef:
                  name: backend-configmap
                  key: test-value-from-helm-values
            
            
            - name: password
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: password
            
            - name: username
              valueFrom:
                secretKeyRef:
                  name: backend-secrets
                  key: developer
            
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 1
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 30
            timeoutSeconds: 3
            failureThreshold: 3
          volumeMounts:
            - name: backend-data
              mountPath: /var/lib/backend/data
      volumes:
        - name: backend-data
          persistentVolumeClaim:
            claimName: backend-pvc
      restartPolicy: Always
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
---
# Source: app/charts/postgres/templates/db.yaml
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-sts
  labels: 
    helm.sh/chart: postgres-0.1.0
    app.kubernetes.io/name: postgres
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  serviceName: postgres-headless-svc
  replicas: 1
  selector:
    matchLabels: 
      app.kubernetes.io/name: postgres
      app.kubernetes.io/instance: mynewapp
  template:
    metadata:
      labels: 
        helm.sh/chart: postgres-0.1.0
        app.kubernetes.io/name: postgres
        app.kubernetes.io/instance: mynewapp
        app.kubernetes.io/version: "1.16.0"
        app.kubernetes.io/managed-by: Helm
    spec:
      containers:
        - name: postgres
          image: postgres:17
          imagePullPolicy: "IfNotPresent"
          env:
            - name: PGDATA
              value: "/bitnami/postgresql/data"
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: postgres-secrets
                  key: database
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secrets
                  key: password
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secrets
                  key: username
          ports:
            - name: postgresql
              containerPort: 5432
              protocol: TCP
          volumeMounts:
            - name: data
              mountPath: /bitnami/postgresql
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes:
          - "ReadWriteOnce"
        resources:
          requests:
            storage: "1Gi"
---
# Source: app/charts/backend/templates/cronjob.yaml
apiVersion: batch/v1
kind: CronJob
metadata:
  name: backend-cronjob
  labels: 
    helm.sh/chart: backend-0.1.0
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  schedule: "*/1 * * * *" # запускать каждую минуту
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      backoffLimit: 2
      template:
        metadata:
          labels: 
            helm.sh/chart: backend-0.1.0
            app.kubernetes.io/name: backend
            app.kubernetes.io/instance: mynewapp
            app.kubernetes.io/version: "1.16.0"
            app.kubernetes.io/managed-by: Helm
        spec:
          restartPolicy: OnFailure
          containers:
            - name: backend-cron
              
              image: fastrapier1/k8s-test-backend-cron:latest
              imagePullPolicy: "IfNotPresent"
              
              env:
                - name: APP_POSTGRES_HOST
                  valueFrom:
                    configMapKeyRef:
                      name: postgres-configmap
                      key: host
                - name: APP_POSTGRES_PORT
                  valueFrom:
                    configMapKeyRef:
                      name: postgres-configmap
                      key: port
                - name: APP_POSTGRES_DB
                  valueFrom:
                    secretKeyRef:
                      name: postgres-secrets
                      key: database
                - name: APP_POSTGRES_USER
                  valueFrom:
                    secretKeyRef:
                      name: postgres-secrets
                      key: username
                - name: APP_POSTGRES_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      name: postgres-secrets
                      key: password
---
# Source: app/charts/backend/templates/ingress.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  labels: 
    helm.sh/chart: backend-0.1.0
    app.kubernetes.io/name: backend
    app.kubernetes.io/instance: mynewapp
    app.kubernetes.io/version: "1.16.0"
    app.kubernetes.io/managed-by: Helm
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - backend.local
      secretName: backend-tls
  rules:
    - host: backend.local
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 80

